html, body, p, h2, h3, h4, h5, ul, xmp {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
ul li {
    list-style: none;
}

body {
    color: #704214;
    background: #fbfafa;
    overflow-x: hidden;
}

.document-link {
    color: #3090e4;
    font-size: 20px;
    display: inline-block;
    margin: 5px 0 25px 15px;
}
.document-link:hover {
    opacity: 0.8;
}

.go-top {
    position: fixed;
    right: 35px;
    bottom: 200px;
    width: 60px;
    height: 60px;
    background: url(https://gtms04.alicdn.com/tps/i4/TB1d2nyKFXXXXa5XFXXED8NIVXX-76-76.png) no-repeat;
    background-size: 100% 100%;
    z-index: 1000;
    display: none;
}
.go-top:hover {
    background: url(http://gtms01.alicdn.com/tps/i1/TB1HcoGKFXXXXbSXXXXED8NIVXX-76-76.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}


#container {
    margin-left: 200px;
}

#area1, #area2, #area3, #area4, #area5, #area6, #area7, #area8 {
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #3090e4;
    margin-bottom: 25px;
}
.hxt-little-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.hxt-title {
    height: 18px;
    line-height: 18px;
    padding-left: 12px;
    font-size: 15px;
    border-left: 3px solid #3090e4;
}

.callout-info {
    padding: 15px;
    margin: 15px 30px 0 0px;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-left-color: #5bc0de;
    border-radius: 3px;
}
.callout-info h4 {
    color: #5bc0de;
    margin-bottom: 10px;
    font-size: 14px;
}



/*导航样式*/
.left-nav {
    width: 200px;
    height: 100%;
    background: #f3eacb;;
    position: fixed;
    left: 0px;
}
.left-nav ul {
    margin:50px 0 0 20px;
}
.left-nav ul li {
    margin: 12px 0px;
}
.left-nav ul li a {
    text-decoration: none;
    font-size: 14px;
    padding-left: 15px;
    color: #999;
}
.left-nav ul li a:hover {
    border-left: 1px solid #3090e4;
    padding-left: 14px;
    color: #3090e4;
    background: none;
}
.left-nav ul li a.active {
    border-left: 2px solid #3090e4;
    padding-left: 13px;
    font-weight: 500;
    color: #3090e4;
}

/*共有样式*/
.main-content {
    min-height: 400px;
    width: 100%;
    padding: 15px;
}
.main-content .one-chart-area {
    width: 580px;
    min-height: 350px;
    background: #efedea;
    border: 1px solid #d5d4d4;
    float: left;
    margin: 20px 25px 10px 0px;
}
.main-content .pie-area {
    width: 376px;
}
.main-content .chart {
    width: 580px;
    height: 260px;
}
.main-content .pie-chart {
    width: 376px;
    height: 260px;
}
.main-content .nav-tab {
    height: 34px;
    width: auto;
    margin-top: 10px;
    border-bottom: 1px solid #d5d4d4;
}
.main-content .nav-tab li {
    float: left;
    padding: 0 15px;
    line-height: 35px;
    height: 33px;
    border: 1px solid #d5d4d4;
    border-left: none;
    cursor: pointer;
    z-index: 1;
    border-bottom: none;
}
.main-content .nav-tab li:hover {
    opacity: 0.6;
}
.main-content .nav-tab li.active:hover {
    opacity: 1;
}
.main-content .nav-tab li.active{
    background: #fff;
    height: 33px;
    line-height: 33px;
    border-top: 2px solid #3090e4;
    cursor: default;
}
.main-content .code-area {
    background: #fff;
    min-height: 50px;
}
.main-content .code-area .code{
    display: none;
}
.main-content .code-area .code:first-child {
    display: block;
}
.main-content .code-area xmp {
    margin-left: -215px;
}

#area1 {

}


#chart {
    min-width: 400px;
    height: 400px;
}
